<p id="notice"><%= notice %></p>

<h1>Classments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobileno</th>
      <th>Born</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classments.each do |classment| %>
      <tr>
        <td><%= classment.name %></td>
        <td><%= classment.mobileno %></td>
        <td><%= classment.born %></td>
        <td><%= link_to 'Show', classment %></td>
        <td><%= link_to 'Edit', edit_classment_path(classment) %></td>
        <td><%= link_to 'Destroy', classment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classment', new_classment_path %>
